#navbar1 {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 15px solid #6D89D5;
}

#navbar2 {
    background-color: black;
}

#navbar1 .navbar-nav .nav-item .nav-link {
    color: white;
    background:
        font-family: Cantarell;
}

.my-header img {
    position: absolute;
    z-index: -22;
    top: 0;
}

.navbar-toggler {
    color: grey;
}

.foot {
    width: 50%;
}

.itemFoot {
    font-size: 80%;
}

.foot-link {
    margin-left: 100px;
}

.espace {
    margin-top: 50px;
}

.idea {
    margin: auto;
}

.upload {
    margin: auto;
}