#navbar1 {
    background-color: black;
    border-bottom: 15px solid #6D89D5;
}

#navbar2 {
    background-color: black;
}

#navbar1 .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: Cantarell;
}

.navbar-toggler {
    color: grey;
}

<<<<<<< HEAD .foot {
    width: 50%;
}

.itemFoot {
    font-size: 80%;
}

.foot-link {
    margin-left: 100px;
}

=======html {
    background-color: white;
}

>>>>>>>1136d6f28133a748bb253a0ed07347ee78bd226d