.contain-lgl {
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
}

.title-lgl {
    font-weight: bold;
}

#tabu {
    margin-left: 40px;
}

.blue {}

#div-centre {}

#body2 {
    background-image: url("../img/yop.png");
    padding-top: 20px;
}

.idea {
    margin-top: 100px;
    margin-bottom: 100px;
}

.roundedImage {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    background-color: #CFCFCF;
    border: black solid 2px;
    text-align: center;
}

.roundedImage img {
    margin-top: 17px;
    width: 50px;
    height: 50px;
}

#tag {
    margin-top: 16px;
}

#tag h5 {
    font-weight: bold;
    font-size: 20px;
}

#tag p {}

#logosLikeBar img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#more-infos {
    border-radius: 20px;
    border: solid 2px #00aced;
    color: #00aced;
    font-weight: bold;
    margin-top: 15px;
}

#card {
    border-radius: 30px;
    margin-bottom: 20px;
}

#basketShop img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

#basketShop button {
    font-weight: bold;
}

#navShop .navShop-item {
    margin-top: 20px;
}

.carousel {
    width: 260px;
    height: 260px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Prix1 {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

#Prix2 {
    font-size: 40px;
    color: red;
    font-weight: bold;
    text-align: center;
}

#SalesTitle {
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}

#leftShop {
    background-color: yellow;
}

#basketShop {
    background-color: black;
}

#navShop {
    background-color: red;
}

.sales {
    margin-top: 40px;
}